{% extends 'backoffice/base_backoffice.html' %}
{% load static %}

{% block content %}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Tables</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Appointments Managment</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Client</th>
                        <th>Dr/coach</th>
                        <th>Appointment Date</th>
                        <th>Start time</th>
                        <th>End Time</th>
                        <th>Mode</th>
                        <th>Visio Link</th>
                        <th>Created_at</th>
                        <th>Modified_at</th>

                    </tr>
                </thead>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
